[2019-01-14 16:36] fluffyemily opened #7 "Home Page"
The GeckoView site needs a landing page. This page should present an overview of GeckoView to developers looking for an alternative to WebView for displaying web content. It should allow developers to quickly decide whether GeckoView is able to meet their needs and provide clear guidance on next steps.

The page should present information about:

- What is GeckoView
- Why makes GeckoView different

[2019-01-14 16:41] fluffyemily opened #8 "[meta] GeckoView "Consumer" site"
One of the purposes of the GeckoView site is to provide information to enable developers who want to use GeckoView inside their app to quickly achieve their goals. This "subsite" of the website should provide developers with:

- Access to GeckoView's API documentation
- List of GeckoView's features with brief descriptions and links to associated API pages
- Usage documentation showing how to achie

[2019-01-14 16:45] fluffyemily opened #9 "[Placeholder] GeckoView Features Listing"
Child of #8

A page listing GeckoView's features with links to related API documentation and to usage documentation for those features.

TBD: What "features" do we want to place here?

- Navigation
- History
- Multiprocess support
- Session Management
- Content Scripts / JS / CSS interaction

[2019-01-14 16:47] fluffyemily opened #10 "Usage Documentation: Quick Start Guide"
Blocks #8

Move the existing quick start guide written by @callahad into the GH pages site.

https://wiki.mozilla.org/Mobile/GeckoView#Get_Started

[2019-01-14 16:50] fluffyemily opened #11 "Usage Documentation: WebView to GeckoView migration guide"
Blocks #8

Many of the developers looking to use GeckoView may be looking to move their apps from WebView based apps to GeckoView, or are at least familiar with the existing WebView API's. This guide should show how a simple browser app that currently uses WebView can be migrated to use GeckoView instead.

[2019-01-14 16:52] fluffyemily opened #12 "Usage Documentation: Lifecycle Management"
Blocks #8

Documentation showing how to implement GV lifecycle management including startup, shutdown, backgrounding, rotation, crash handling and configuration changes.

[2019-01-14 16:53] fluffyemily opened #13 "Usage Documentation: MultiTab support"
Blocks #8

Simple demonstration of how to implement multi-tab support with GV. This should include session management practices and multiprocess support.

[2019-01-14 16:54] fluffyemily opened #14 "User Documentation: Privacy and Security"
Blocks #8

Documentation demonstrating the privacy and security options provided by GeckoView and how to implement them for best practice.

[2019-01-14 16:56] fluffyemily opened #15 "Usage Documentation: Permissions"
Blocks #8

Documentation showing how to handle permissions when using GeckoView, with special focus on those that require GV integration such as geolocation and payment APIs.

Other things to think about:

- Password manager integration?

[2019-01-14 17:08] fluffyemily opened #16 "Usage Documenation: Debugging"
Blocks #8

Documentation showing how to debug web based content in GeckoView

[2019-01-14 17:09] fluffyemily opened #17 "Usage Documentation: Building a Browser"
Blocks #8

Documentation showing, with reference to a simple example application, how to build a browser using GeckoView.

This documentation should link into Android Components.

[2019-01-14 17:11] fluffyemily opened #18 "Developer Blog"
Implement a section of the platform that can be used for blogging purposes so that the team can share interesting work, things learned and start a conversation with developers.

The purpose of the developer site is to provide an area where interested developers and potential partners can monitor progress of the project and feel a part of the process.

The blog is also a good place through which to

[2019-01-14 17:16] fluffyemily opened #19 "[Meta] "Contributor" site"
The website should have an area dedicated to providing resources to developer who wish to work on GeckoView. This includes developers employed by current and potential partners, as well as independent interested parties.

The subsite should contain:

- The current roadmap to enable potential contributors to decide what to work on and for potential consumers to decide if future work will make GV mo

[2019-01-14 17:17] fluffyemily opened #20 "Publish Roadmap"
Blocks #19

Publish the public roadmap. This should be an overview of the more detailed internal roadmap and be designed as a aid to help potential consumers decide of GV is right for them and to guide potential contributors to work on the right features/bugs.

[2019-01-14 17:18] fluffyemily opened #21 "Choose Theme for site"
We should choose a Jekyll theme for the site

http://jekyllthemes.org/
https://pages.github.com/themes/

[2019-01-23 14:19] fluffyemily commented on #21
Between me and @abovens we've decided to use [Just The Docs](https://jekyllthemes.io/theme/just-the-docs)

[2019-01-23 16:12] fluffyemily opened #22 "Usage Documentation: JS Execution"
Documenting the ways in which you can interact with JavaScript using GeckoView including Content Scripts.

Blocks #8

[2019-01-23 16:13] fluffyemily opened #23 "Usage Documentation: WebExtensions"
Document how to use and implement WebExtensions using GeckoView

Blocks #8

[2019-01-23 16:13] fluffyemily opened #24 "Usage Documentation: Media"
Documenting how to interact with Media using GeckoView.

Blocks #8

[2019-02-04 16:24] #21 closed, assigned to fluffyemily

[2019-02-05 14:48] fluffyemily opened #29 "Fix broken custom CSS for just-the-docs theme on GitHub Pages"
Locally, the css is being correctly overwritten, but when published to GH Pages the custom css is being ignored. This should be investigated and amended to ensure that the correct css is being imported.

[2019-02-05 17:55] #10 closed, assigned to fluffyemily

[2019-02-18 02:00] ghost opened #31 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/geckoview/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of

[2019-02-20 20:37] agi90 opened #32 "Add metadata for easier Googling"
Our docs page isn't easily found on Google. Adding some `<meta>` tags on the landing page might help the situation.

[2019-02-25 18:07] agi90 opened #35 "Changelog links are broken"
something broke recently :( let's see if I can figure out what.

[2019-02-25 19:31] #35 closed, assigned to nobody

[2019-02-26 15:52] agi90 opened #37 "When API Changelog is selected, the menu highlights API documentation too."
<img width="802" alt="screen shot 2019-02-26 at 7 51 56 am" src="https://user-images.githubusercontent.com/4297388/53426223-72306880-399b-11e9-8a22-dea310da1d77.png">

[2019-02-26 17:26] #37 closed, assigned to nobody

[2019-03-13 05:17] kishanio commented on #22
This is critically important. Any updates on this. Lemme know if there's anything i can help with. I can do a POC example and also document it.

[2019-03-13 14:07] agi90 commented on #22
I'm working on this, it'll be up soon (probably together with https://bugzilla.mozilla.org/show_bug.cgi?id=1518843 ).

The messaging specific draft is available at: https://agi.sferro.dev/geckoview/docs/messaging.html

[2019-03-25 16:23] fluffyemily opened #44 "Create a process for proposing and reviewing changes to the GeckoView API"
We currently have no process for proposing, curating and reviewing significant changes to GeckoViews APIs. This has led to situations where it has been difficult to receive feedback on APIs before the code has been written, which in turns results in a protracted period of change as the new API evolves to fit the changing requirements.

We propose that that we put in an RFC (Request For Change) pro

[2019-03-30 06:46] ghost opened #46 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-01 14:32] #46 closed, assigned to nobody

[2019-04-03 04:11] srichter opened #48 "Required attribute on input is not respected"
When interacting with a form which has the "required" attribute on an input, Firefox Focus will ignore it and submit the form anyway when the input is empty. This only happens in Firefox Focus when GeckoView is enabled. The example here, or any other use of the attribute, will fail to function properly: https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation#The_required_attribut

[2019-04-03 22:35] agi90 commented on #48
Hi @srichter thanks for the report, this repo is for GeckoView documentation, our bug reports for GeckoView live on [bugzilla][0]. I opened a bug for this [there][1].

[0]: https://bugzilla.mozilla.org/buglist.cgi?product=GeckoView&component=General&resolution=---&list_id=14649234
[1]: https://bugzilla.mozilla.org/show_bug.cgi?id=1541624

[2019-04-03 22:35] #48 closed, assigned to nobody

[2019-04-03 22:38] srichter commented on #48
Whoops, thanks.

[2019-04-05 22:34] ncalexan opened #50 "Add a section discussing how to use Mozilla's symbol server to debug GeckoView in consuming Apps"
GeckoView (and other native code libraries, including megazord libraries built and published by the Application Services team) pushes debug symbols to Mozilla's crash reporting infrastructure.  Downstream consuming Apps can fetch those symbols and use them in the Android Studio Native debugger.  This ticket tracks documenting how to do this (and making sure that it works, I guess).

In particular,

[2019-05-14 15:08] #31 closed, assigned to nobody

[2019-05-14 15:09] #23 closed, assigned to agi90

[2019-05-14 15:13] agi90 commented on #22
Closed in #51

[2019-05-14 15:13] #22 closed, assigned to agi90

[2019-05-14 21:53] hawkinsw opened #54 "Bad armImplementation gradle configuration for custom GV build in tutorial"
There's a typo in the armImplementation command in the tutorial about contributing to GV. Patch to follow.

[2019-05-14 22:48] #54 closed, assigned to nobody

[2019-05-24 13:18] alex-berdnikov commented on #12
This would be really great. At the moment I'm trying to integrate GeckoView into the browser app I work on, and while I initialize it as described in on the frontpage, the app breaks every time it returns from background. It says it can't create runtime but it doesn't provide any additional info on that.
The only choice I see now is to scrutinize Firefox Focus internals to see how things work ther

[2019-06-21 20:29] fluffyemily opened #61 "Usage Documentation: Tracking Protection"
Explain what the different tracking protection options in GeckoView are and how to update the settings. Also explain what the defaults are and what it means.

[2019-06-28 21:21] agi90 opened #62 "Add pageload lifecycle docs"
Managing page load is definitely tricky. We should at least document what's the expected flow from `onLoadStart` to `onPageStop` (or any other way a page request can stop) when an app calls `loadUri` or similar.

[2019-06-29 14:16] dipiana opened #63 "How to add permissions"
I find it very hard / impossible to understand how to give GeckoView permission to use the microphone. I tried to google, ask in different forums but could not get an answer.
Could anybody help me with that?
My goal is to give GeckoView permission that a website uses the microphone/records.

Thanks!

[2019-06-30 21:15] agi90 commented on #63
Hi @dipiana ! you want to override `PermissionDelegate.onMediaPermissionRequest` and implement it accordingly to grant the website permission.

Javadoc: https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/GeckoSession.PermissionDelegate.html#onMediaPermissionRequest-org.mozilla.geckoview.GeckoSession-java.lang.String-org.mozilla.geckoview.GeckoSession.PermissionDelega

[2019-07-01 15:46] fluffyemily commented on #63
We are aware that this documentation is missing - it's been in the works for a while. Your issue prompted me to finish it off. See #15 and #65

[2019-07-02 08:27] #15 closed, assigned to fluffyemily

[2019-07-02 08:29] fluffyemily commented on #63
Documentation landed: https://mozilla.github.io/geckoview/consumer/docs/permissions

[2019-07-02 08:29] #63 closed, assigned to nobody

[2019-07-02 14:49] fluffyemily opened #66 "Update Quick Start documentation to include fat AAR instructions."
https://bugzilla.mozilla.org/show_bug.cgi?id=1508976 introduced a single multi-architecture AAR for GeckoView, but our Quick Start guide still refers to setting up multiple architectures. This needs to be updated to reflect the existing requirements.

[2019-07-15 08:03] #66 closed, assigned to nobody

[2019-07-21 05:39] strongSoda opened #68 "Some links in Readme give 404"
## These are the dead links in the readme file.

GeckoView Contributor Quick Start Guide
Mozilla Central Quick Start Guide
Mozilla Central Contributor Guide
Guide to Native Debugging in Android Studio

![404](https://user-images.githubusercontent.com/30754328/61587430-faf8ac80-aba7-11e9-8efc-987256f25d11.png)

[2019-07-22 23:23] agi90 commented on #68
We should probably fix that somehow, but note that this package is the source code for this website: https://mozilla.github.io/geckoview/

[2019-07-24 14:10] strongSoda commented on #68
I'll try and send a PR

[2019-07-26 17:06] #68 closed, assigned to nobody

[2019-07-31 17:16] fluffyemily commented on #61
This should as much as possible concentrate on using tracking protection with GV and link to external resources for context around what TP is.

[2019-07-31 17:17] #29 closed, assigned to nobody

[2019-08-10 08:29] gnesher opened #74 "missing license file"
As the title suggests, there's no LICENSE file in the repository, which reduces the usability of the component.
As I'm not certain which license Mozilla uses I couldn't create a pull req.

[2019-08-12 09:36] fluffyemily commented on #74
So, this repo is for the documentation site only. All Mozilla licenses are kept with the code in our Mercurial repository and are [Mozilla Public License](http://mozilla.org/MPL/2.0/).

You can find the [code](https://searchfox.org/mozilla-central/source/mobile/android/geckoview) and get a copy by following the instructions on our [documentation site](https://mozilla.github.io/geckoview/contributo

[2019-08-12 09:53] gnesher commented on #74
Ah, I missed that, was just looking to find the license for a blog post I'm writing - wasn't aware there's a unified license for all Mozilla projects. Thanks, closing the ticket.

[2019-08-12 09:53] #74 closed, assigned to nobody

[2019-08-12 09:58] gnesher commented on #74
@fluffyemily  just a quick note - the link to the documentation site you provided does not work (seems to affect the README file as well

[2019-08-12 10:27] fluffyemily commented on #74
@gnesher bizarre, all the links in both the README and this issue work for me. I shall investigate.

For all our documentation go to
https://mozilla.github.io/geckoview/

[2019-08-12 10:46] gnesher commented on #74
@fluffyemily I'm just getting a "This site can’t be reached The connection was reset." error
I am able to access the URL from my mobile phone though, might be a network issue

[2019-08-12 10:52] fluffyemily commented on #74
What browser are you using? https://github.com/itchio/itch.io/issues/949 suggests that it could be a proxy/firewall problem on your end. Can you try in a Private Browsing or Incognito window to see if it loads there?

[2019-08-12 11:19] gnesher commented on #74
I'm using Chrome and you're right, private mode solves the problem

[2019-08-15 19:33] Amejia481 opened #75 "Monitoring questions on StackOverflow"
I noticed there are [multiple recent opened questions asked related to GeckoView](https://stackoverflow.com/search?tab=newest&q=geckoview). StackOverflow is the first place to go when developers have questions, I think monitoring and replying could help to bring more developers to GeckoView.  I'm not sure if this is the right moment to do it,but it will be helpful to start doing it that at some po

[2019-08-15 19:45] Amejia481 commented on #61
I'm not sure which version of the GeckoView api the documentation should use (nightly, beta or stable)? Since `70.0.20190813095543`(Actually nightly) the api for tracking protection has changed drastically.

[2019-08-15 23:05] agi90 commented on #61
Definitely nightly, but really we should probably have documentation in tree for this reason.

[2019-08-15 23:10] agi90 opened #76 "Page looks broken"
Something happened to our style? I don't see any change though.

<img width="907" alt="Screen Shot 2019-08-15 at 4 09 44 PM" src="https://user-images.githubusercontent.com/4297388/63132782-2d16e780-bf77-11e9-880f-c29622e56924.png">

[2019-08-15 23:19] Amejia481 commented on #61
👍

[2019-08-15 23:27] Amejia481 commented on #76
Seeing the same issue on different browsers. Are we pulling some styles or js files from external sources?

[2019-08-15 23:49] agi90 commented on #76
We weren't pinning the style to a version and it updated under us. It should work now.

[2019-08-15 23:49] #76 closed, assigned to nobody

[2019-08-22 02:50] ifmvo opened #79 "GeckoView error occurred, Using App Bundle in GooglePlay"
### Hello, I used GeckoView in my Android app.
`Implementation 'org.mozilla.geckoview:geckoview-beta:69.0.20190808090046'`
`abiFilters "armeabi-v7a", "arm64-v8a"`

### Using App Bundle in GooglePlay, an error occurred

[code]

[2019-08-22 13:12] snorp commented on #79
Hi, thanks for the report! We are tracking this issue in Bugzilla here: https://bugzilla.mozilla.org/show_bug.cgi?id=1529082

[2019-08-22 13:12] #79 closed, assigned to nobody

[2019-08-23 02:53] ifmvo commented on #79
Thank you, but my app is not able to update the version on GooglePlay because of this issue, I am eager to give me some advice.

[2019-08-23 03:52] snorp commented on #79
For now I think you'll need to either stop using GeckoView or App Bundles until the issue is fixed (which may be a while).

[2019-08-24 04:51] tempbottle opened #84 "how to navigate to unix domain socket when use local server listening on uds?"
How to navigate to unix domain socket when use local server listening on uds?

for something like http://udx-fd/xxx.

[2019-08-26 14:34] snorp commented on #84
This is not currently supported in Gecko, and AFAIK there are no plans for that to change.

[2019-08-29 09:10] rajdeep-pocketaces opened #85 "Calling methods in android code from JS"
I have an app which uses webview as of now for loading html based games. I use @JavascriptInterface in my activity to expose some methods to the JS code because of some requirements. But now i am planning to geckoview due to some reasons.
If anyone can lead to me to some alternatives that i can use while using geckoview to provide the same functionality, that would be great.

[2019-08-29 15:14] snorp commented on #85
You can use a Web Extension to interact with content. More info about this can be found here: https://mozilla.github.io/geckoview/consumer/docs/web-extensions

I'll close this bug, but if you have more questions you can ask theme here or on Mozilla IRC (#mobile).

[2019-08-29 15:14] #85 closed, assigned to nobody

[2019-09-17 07:48] ThuyKhanh opened #86 "How to get source code of a page"
I wanna to know how to get source code a page with GeckoView.

[2019-09-28 10:42] serovar opened #90 "Add support for general.useragent.override.website.domain"
For some reason, support for the general.useragent.override.website.domain option in about:config has been removed in the latest nightlies. I opened a bug on the Fenix issue tracker (https://github.com/mozilla-mobile/fenix/issues/5642), where I was told that the option is not supported in GeckoView.

This is a then a feature request to readd support for this option, since it was working before, it

[2019-09-28 17:22] agi90 commented on #90
In general anything in `about:config` could go away at any point, and we don't support it in any meaningful way.

Support for `general.useragent.override.website.domain` has been removed from Gecko in Bug 1513574, so that's why it doesn't work in GeckoView. No version of Firefox will support that (not even Desktop).

In the future you will be able to do this with an extension.

[2019-09-28 17:22] #90 closed, assigned to nobody

[2019-09-28 17:23] filips123 commented on #90
@agi90 Is there any reason why it was removed? I think that it is easier to just use `about:config` entry than the extension if you want to change user-agent for long term.

[2019-10-01 08:45] farre opened #91 "No documentation of build targets"
In the [Quick Start Guide](https://mozilla.github.io/geckoview/contributor/geckoview-quick-start) there is no documentation for existing targets. Running ./mach bootstrap to only get to know possible targets is quite heavy handed.

[2019-10-01 18:40] agi90 commented on #91
Unfortunately they change often enough that we find it's not worth it to keep it in documentation (unless we auto-generate the docs? that sounds like a lot of work).

[2019-10-01 22:00] snorp commented on #91
I think he's referring to the possible values for `--target`, which does not change very often. I think we can add the current ones (i686, x86_64, arm, aarch64) to the section discussing `--target`.

[2019-10-24 13:13] sergeymild opened #92 "Intercept network requests"
Is it possible to have something like WebView.shouldInterceptRequest in GeckoView? If it is already has, could you please give some examples how to?

[2019-10-24 13:31] snorp commented on #92
There are currently no plans to add an API like this. You may be able to do it via a Web Extension, though. There's some info on this here: https://mozilla.github.io/geckoview/consumer/docs/web-extensions

The Web Extension API you'd want to use is `webRequest`. https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest

[2019-10-24 13:31] #92 closed, assigned to nobody

[2019-10-25 05:26] sergeymild commented on #92
i make like this:
manifest.json
[code]
messaging.js
``` console.log(browser.webRequest)```
it's write what it is undefined.
What am i doing wrong?

[2019-10-25 05:49] sergeymild opened #93 "Web extension `WebRequest` is undefined"
I made like this:
manifest.json
[code]
messaging.js
``` console.log(browser.webRequest)```
it's write what it is undefined.
What am i doing wrong?

Also i've tried load as background script
[code]
but it doesn't works either.

[2019-10-25 12:03] #93 closed, assigned to nobody

[2019-11-08 13:52] maxmstrmn opened #95 "Doesn't work on pixel 2"
See my issue here: https://stackoverflow.com/questions/58766092/geckoview-android-pixel-2-errors

[2019-11-18 07:30] tmdwns7809 opened #96 "WebRequest, WebResponse"
I tried to fetch html by using WebRequest class and i got a WebResponse through a GeckoWebExecutor<WebResponse> object.
And then i converted the WebResponse object to a string object.
And then i loaded the string object by using loadString or loadData as a text/html mime type.
But it couldn't render the page perfectly like it couldn't print some images which was printed when i just used loadUri wi

[2019-11-18 14:49] snorp commented on #96
This is likely an issue with relative URIs on the page. e.g. `<img src="foo.jpg">` won't work if you load as a data URL. What's the core problem you're trying to solve by fetching the page yourself?

[2019-11-19 00:23] tmdwns7809 commented on #96
Oh, thank you so much for replying! I'm making my web page translating app. I have my dictionary data base and i know how to translate based on that. So i was going to fetch the web pages html and translate the text inside the html and print it to the screen. I just want to edit some text inside the web page before i print it to the screen with geckoview. Is there any other way that i can achieve

[2019-11-19 00:38] tmdwns7809 commented on #96
Do you mean loadData and loadString can't process relative URIs?

[2019-11-19 01:55] agi90 commented on #96
@tmdwns7809 I would recommend looking into using a WebExtension for this. You could read/modify the webpage content using a content script and sending the data to be translated to your app using messaging (if you can't do the translation directly in javascript), see here: http://gv.dev/consumer/docs/web-extensions

[2019-11-19 03:49] tmdwns7809 commented on #96
@agi90 Thank you so much!!! I will work on that!

[2019-11-19 03:49] #96 closed, assigned to nobody

[2019-11-23 12:52] Amejia481 opened #106 "Duplicated menu sections"
<img width="423" alt="image" src="https://user-images.githubusercontent.com/773158/69478922-e599c600-0dc5-11ea-9eeb-b589b4b4d77b.png">

[2019-11-25 08:51] fluffyemily commented on #106
Resolved.

[2019-11-25 08:51] #106 closed, assigned to nobody

[2019-11-28 08:28] a251115100 opened #108 "messaging_example exception"
GeckoConsole: [JavaScript Error: "this.manifest is null" {file: "resource://gre/modules/Extension.jsm" line: 1110}]

An error occurred while registering the WebExtension resource://android/assets/messaging/: TypeError: this.manifest is null.

[2019-12-03 16:21] agi90 commented on #108
Hi @a251115100, thanks for the bug report, what version of GeckoView and device are you using?

[2019-12-04 11:28] a251115100 commented on #108
I can't duplicate that any more,Maybe I've configured something wrong.

[2019-12-04 11:28] #108 closed, assigned to nobody

[2019-12-05 16:07] Ruin0x11 opened #109 "Developer documentation for new Git contributors is outdated"
I want to contribute a feature to Firefox Preview that requires changes to GeckoView. The [Contributor Guide for GeckoView](https://mozilla.github.io/geckoview/contributor/geckoview-quick-start) says that Git users should see the [Quick Start Guide for Git Users](https://mozilla.github.io/geckoview/contributor/mc-quick-start). However, this guide does not work for the latest version of GeckoView.

[2019-12-06 15:57] agi90 commented on #109
Can you paste here the result of `git remote -v` in your git-cinnabar repo ? The guide seems correct to me and should produce a working repo, so there might be some misconfiguration going on.

[2019-12-07 03:17] Ruin0x11 commented on #109
Sure, here you are.

[code]

[2019-12-17 21:29] tmdwns7809 opened #110 "Can i use GeckoView for my commercial app?"
Can i use this geckoview engine for my commercial web browser app and make some benefit?
Where can i see the license to find allowed permissions?

[2019-12-17 21:47] snorp commented on #110
I believe so, yes. Most of Gecko is licensed under MPL2, which allows this[1]. Other parts of the code are LGPL, GPL, or other licenses which are MPL2 compatible[2]

[1] https://www.mozilla.org/en-US/MPL/2.0/FAQ/
[2] https://hg.mozilla.org/mozilla-central/raw-file/tip/toolkit/content/license.html

[2019-12-17 21:47] #110 closed, assigned to nobody

[2019-12-19 01:09] tmdwns7809 opened #111 "WebExtension constructor requires 2 arguments if i use latest version"
WebExtension worked fine even when i just used like this

    val extension = WebExtension("resource://android/assets/translate/")

But now it requires one more argument with the latest version(73.0.20191218091614)
It requires WebExtensionController now so i tried how to make this thing in API documentation
But i couldn't fine sorry i'm barely new too making my own app

Could you give me some exam

[2019-12-19 09:46] nilac8991 opened #112 "Select, DropDown menus and DatePickers not working"
Hello, I am trying to implement GeckoView into an application of mine and i can't find a way at all to make the dropdown menus working.

Is it there a flag or something to add among the settings before initialising the GeckoSession?
I found out a similar issue related to Focus here:
https://github.com/mozilla-mobile/focus-android/issues/4396

Gecko Version : `org.mozilla.geckoview:geckoview-nightl

[2019-12-19 14:25] snorp commented on #111
You should pass the instance you get from `GeckoRuntime#getWebExtensionController()`. Eventually (hopefully soon), this constructor will go away, and you'll install builtin extensions by using the `WebExtensionController` directly. Hope this helps!

[2019-12-19 14:27] snorp commented on #112
This is handled in the app by implementing `GeckoSession.PromptDelegate`[1]. We have one in the example app[2] that you may be able to use.

[1] https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/GeckoSession.PromptDelegate.html
[2] https://searchfox.org/mozilla-central/source/mobile/android/geckoview_example/src/main/java/org/mozilla/geckoview_example/BasicGeckoView

[2019-12-19 14:27] #112 closed, assigned to nobody

[2019-12-19 14:41] nilac8991 commented on #112
Yes, I saw that in Firefox Focus afterwards how it was fixed, thanks for the quick answer!

[2019-12-19 16:29] agi90 commented on #111
Thanks. I'll use this issue to track updating the docs

[2019-12-19 18:57] dllud commented on #74
Re-opening this discussion because the documentation itself needs a license.
Please add a license file to this repository to make it clear under which terms the documentation can be used and which license will be applied to contributions.

The general [Mozilla licensing page](https://www.mozilla.org/en-US/foundation/licensing/) isn't much helpful, as it points to two different licenses:

[2019-12-24 10:41] sadfmouoi3 opened #113 "window.scrollTo doesn't work well"
[code]

Cannot scroll to bottom right after executing `window.scrollTo(window.scrollMaxX, window.scrollMaxY)`.

I tried to set ScrollDelegate and print x and y,  it shows that window.scrollMaxX and window.scrollMaxY are not correct.  Then I tried to pass the correct values, `window.scrollTo(corretMaxX, corretMaxY)`, but  it still doesn't work.

[2020-02-09 17:37] acrolink opened #114 "GeckoSession.NavigationDelegate.onLoadRequest() does not get called at all"
I am trying to do this:

[code]

However, nothing happens. The log is empty for "GeckoResult" and the particular URL is not blocked.

`org.mozilla.geckoview:geckoview:71.0.20200108003105`

[2020-02-09 18:19] #114 closed, assigned to nobody

[2020-02-19 07:51] skoolknot opened #115 "Implement file chooser for input type file"
When I clicked input type file, nothing happen. Any idea on how to implement file chooser similar as WebChromeClient onShowFileChooser?

[2020-02-19 10:38] pocmo commented on #115
You will have to provide an implementation of `PromptDelegate.FilePrompt`:
https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/GeckoSession.PromptDelegate.FilePrompt.html

The GeckoView example app has an implementation of it here:
https://searchfox.org/mozilla-central/source/mobile/android/geckoview_example/src/main/java/org/mozilla/geckoview_example/BasicGeckoViewPr

[2020-02-19 16:33] skoolknot commented on #115
Thanks! The file chooser is now working.

[code]

However, I have problem with passing the URI back. Tried using FileCallback.confirm, but nothing happen. Here is the code.

[code]

[2020-02-19 17:03] snorp commented on #115
`onFilePrompt()` doesn't return `void`, it returns `GeckoResult<GeckoSession.PromptDelegate.PromptResponse>`. The `PromptResponse` is the return value of `GeckoSession.PromptDelegate.FilePrompt#confirm()`. You need to create the `GeckoResult` and return that from `onFilePrompt()`, then later complete the result from your activity result callback. The example does this around here: https://searchfo

[2020-02-20 01:38] skoolknot commented on #115
It seems that `PromptResponse` (and `FilePrompt`) is missing

![3](https://user-images.githubusercontent.com/875694/74892295-310f4080-53c4-11ea-9359-673be1ac0e17.png)
![2](https://user-images.githubusercontent.com/875694/74891555-4d11e280-53c2-11ea-8eae-21e38fabdd17.png)

and the onFilePrompt() does return `void`.

![Untitled](https://user-images.githubusercontent.com/875694/74891587-5bf89500-53c2

[2020-02-20 17:57] agi90 commented on #115
What version of GeckoView are you on?

[2020-02-21 02:53] skoolknot commented on #115
Did the installation based on [documentation](https://mozilla.github.io/geckoview/consumer/docs/geckoview-quick-start.html), it is version `70.0.20190712095934` (`nightly` release).
[code]

EDITED:
I have updated the GeckoView version to the latest `nightly` release. Now I can use `PromptResponse` (and `FilePrompt`) and implement `onFilePrompt(geckoSession:GeckoSession, filePrompt:FilePrompt):Geck

[2020-02-24 20:53] acrolink opened #116 "E/GeckoLibLoad: Couldn't get a handle to libnss3! error after updating to Android Studio 3.6"
My application fails to start with the error message:

`E/GeckoLibLoad: Couldn't get a handle to libnss3!`

and:

[code]

Seeing this issue after updating to Android Studio 3.6 from 3.5.

*IMPORTANT*

caused by using Gradle Plugin 3.6.0, switching back to 3.5.3 solves the issue.

[2020-02-25 12:29] acrolink opened #117 "How to handle and detect an E/GeckoRemoteCodec: Callbacks is dead error"
Called by `gecko-dev/mobile/android/geckoview/src/main/java/org/mozilla/gecko/media/Codec.java`:

[code]
This error occurs sometimes when playing YouTube videos inside a `GeckoView` causing the `GeckoView` to freeze. My question, how to detect when this happens and trigger an action (e.g. a session reload) in such a case?

[2020-02-25 14:06] snorp commented on #117
That would occur due to a crash in the decoding service. You might have some logcat indicating why it occurred. This would indicate a bug either in Gecko or the OS. The decoder process should definitely restart if it crashes, though, so I've filed a bug about that. You can followup here: https://bugzilla.mozilla.org/show_bug.cgi?id=1617894

[2020-02-25 14:06] #117 closed, assigned to nobody

[2020-02-25 15:40] acrolink commented on #117
The preceding error message is:
`E/ACodec: [OMX.MS.VP9.Decoder] setPortMode on output to DynamicANWBuffer failed w/ err -1010`

[2020-02-29 12:03] acrolink opened #119 "How to recreate the GeckoRuntime without restarting the application?"
I create it like this:

`  runtime = GeckoRuntime.create(_context, runtimeSettingsBuilder.build());`

However, if I try to recreate it I get an error that it is not allowed to have more than one `GeckoRuntime` instance. How to recreate it?

[2020-02-29 20:48] agi90 commented on #119
Hi @acrolink , unfortunately there's no way to recreate the runtime. Could you tell us what you are trying to achieve?

[2020-02-29 20:58] acrolink commented on #119
The original issue is described here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1617894&GoAheadAndLogIn=1

I am having some crashes due to repeated YouTube playbacks, I thought that recreating the runtime after playing each video would prevent future crashes. Recreating the session does not help. What I do now when GeckView crashes is to restart the whole appilaction.

I guess if there is a met

[2020-03-03 20:50] artroman commented on #116
Changing gradle plugin from 3.6.0 to 3.5.3 doesn't fixes the issue. Updated Studio (gradle plugin 3.6.1) also fails to run.

I have found the cause My code and libraries loads native libraries using System.loadLibrary(), so I have added android:extractNativeLibs="false" in AndroidManifest to save storage space and speed up application install/update process. But GeckView doesn't load libnss3 via G

[2020-03-03 22:25] snorp commented on #116
Yeah, we don't support `extractNativeLibs=false` yet. It's coming. You can track this for updates: https://bugzilla.mozilla.org/show_bug.cgi?id=1610018

[2020-03-05 13:17] acrolink commented on #116
Adding `extractNativeLibs=true` to `AndroidManifest` resolves the issue.

[2020-03-11 07:09] ddsc01 commented on #116
This issue also appears when building with gradle Version 3.6.1.
You need to have android.bundle.enableUncompressedNativeLibs=false in gradle.properties and android:extractNativeLibs="true" in AndroidManifest to make it work. If you use Gradle 3.5.3 you don't need those entries.

[2020-03-19 22:05] zoell opened #120 "Zoom in programmatically?"
I would like to achieve the same when a user double taps the screen, but programmatically.

Is it possible?

[2020-03-26 21:50] tmbenhura opened #121 "GeckoView crashes in Shared Element Transition"
GeckoView crashes when used in shared element transitions. The transition may occur on the first 2 or so tries, after which the application crashes. Logcat does not provide any useful information as the app is kill instantly.

Specifically, I was using a MaterialContainerTransform transition from the material.io android components.

[2020-03-27 16:03] #84 closed, assigned to nobody

[2020-03-27 16:11] tempbottle opened #122 "How to use a self-signed tls certificate for simple test?"
How to use a self-signed tls certificate for simple test?

[2020-03-27 16:20] snorp commented on #122
It's not supported, currently. We're tracking this feature here: https://bugzilla.mozilla.org/show_bug.cgi?id=1522162

[2020-03-27 16:56] dtboy1995 commented on #122
the same issue

[2020-03-27 18:49] agi90 commented on #121
Hello @tmbenhura , thanks for the report! Please open a bug at https://bugzilla.mozilla.org/enter_bug.cgi?product=GeckoView&component=General and attach a sample app to reproduce this problem.

[2020-03-27 18:49] #121 closed, assigned to nobody

[2020-03-29 07:03] tempbottle opened #123 "How to make jsbridge api for native call?"
How to make jsbridge api for native call?
Like WebView's `addJavascriptInterface` on Android, or WKWebView on iOS.

[2020-04-06 20:49] artroman commented on #116
It was changed
[code]

But GeckoView 76.0 (available in nightly) still crashes with extractNativeLibs="false". Tested  latest available version "geckoview-nightly:76.0.20200406092400".

[2020-04-07 02:50] artroman opened #124 "Exoplayer library duplicate class conflicts"
GeckoView uses code of Exoplayer2, I guess to play media in the page, maybe with streaming ability. But the problem is that library added not as dependency, bu the GeckoView library has copy of all ExoPlayer classes. This causes conflicts if I use ExoPlayer dependency, especially when version deffers.

If I use both exoplayer and geckoview dependencies, my version of exoplayer library can be repla

[2020-04-08 07:55] Cilenco opened #125 "How to resolve SSL errors"
Is there any way I can accept a self signed SSL certifcat automatically?

[2020-04-09 09:12] Cilenco commented on #116
Also getting this for version _64.0.20190125143600_ and gradle plugin 3.6.2.
Setting `android:extractNativeLibs="true"` did not help.

It's the only version which does not expend my apk size to over 100 MB

[2020-04-09 16:03] artroman commented on #116
I can't find this version as default "geckoview" artifact: https://maven.mozilla.org/?prefix=maven2/org/mozilla/geckoview/geckoview/
The oldest one available is 69.0.20190903125908.

Do you use platform-specific artifact, such as geckoview-armeabi-v7a? This will work on mobile, but fail on emulator because native libraries are missing in apk for this architecture (x86 or x86_64).

You should use u

[2020-04-09 23:13] wilsonp3 opened #126 "Gradle Configuration Ambiguity"
When adding GeckoView implementations to the dependencies, My gradle fails to sync when I try to add this into dependencies:
implementation "org.mozilla.geckoview:geckoview-${geckoviewChannel}:${geckoviewVersion}"

I believe it is because I have to revplace geckoviewChannel and geckoviewVersion, but I can't find what I'm supposed to replace them with.

[2020-04-10 20:43] agi90 commented on #126
If you want the latest stable version you can see here: https://maven.mozilla.org/?prefix=maven2/org/mozilla/geckoview/geckoview/

e.g. for GeckoView 75 it would be

`org.mozilla.geckoview:geckoview:75.0.20200403170909`

[2020-04-10 20:43] #126 closed, assigned to nobody

[2020-04-15 06:21] safe-bug opened #127 "Change about:config values inside code"
Hello
I want to change about:config values inside my android code and without using UI, how is it possible to do?

[2020-04-15 22:32] snorp commented on #127
It's currently not possible with the public API. We've resisted this in order to be able to limit the number of configurations we need to support.

What prefs do you want to change? For some things, it might make sense to expose them via `GeckoRuntimeSettings`.

[2020-04-17 06:07] safe-bug commented on #127
@snorp Isn't it possible in other way than UI? for example with the config file?
I need several prefs but for example I need devPixelsPerPx.

[2020-04-17 14:13] snorp commented on #127
For `layout.css.devPixelsPerPx` I think it would be reasonable to have a `GeckoRuntimeSetting` for this.

You can use the config file to set prefs, yes. It's not a very good option for an app you want to ship, though.

[2020-04-17 15:45] safe-bug commented on #127
Thanks @snorp , config file did work out!

[2020-04-22 05:29] #127 closed, assigned to nobody

[2020-05-10 17:51] tonyofrancis opened #129 "Dedicated GeckoView CookieManager and Cache Storage?"
Thanks for providing the Android community with such a wonderful alternative! I have been working on a project that needs GeckoView!

My question is: Does GeckoView support the case where a user can be signed into a domain account (gmail for example) in one GeckoView, and sign into another gmail account in a different GeckoView. Both GeckoView instances should NOT share account information such as

[2020-05-10 18:17] agi90 commented on #129
Hi @tonyofrancis , yes we do support that. Just set a custom `contextId` on the session for each account and GeckoView will separate cookies, session storage, etc. https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/GeckoSessionSettings.Builder.html#contextId-java.lang.String-

[2020-05-11 17:46] #129 closed, assigned to nobody

[2020-05-12 00:27] tonyofrancis commented on #129
Thanks!

[2020-05-13 15:44] snorp commented on #120
Not currently. The best you could do is fake motion events to perform a double tap or pinch.

[2020-05-13 15:44] #120 closed, assigned to nobody

[2020-05-13 15:44] snorp commented on #116
This should be working now with latest geckoview.

[2020-05-13 15:44] #116 closed, assigned to nobody

[2020-05-13 15:45] snorp commented on #124
Thanks. We're tracking this here: https://bugzilla.mozilla.org/show_bug.cgi?id=1523544

[2020-05-13 15:45] #124 closed, assigned to nobody

[2020-05-16 12:10] cromefire opened #130 "[question] How to inject javascript and interact with it?"
In webview one can inject JavaScript by running:
[code]

and then communicate with it by having something like this for js -> native:
_Native:_
[code]
_JS:_
[code]

And the other way around (native -> js):
_JS:_
[code]
_Native:_
[code]

Is there anyway to communicate like this in geckoview too?

[2020-05-16 16:56] agi90 commented on #130
Hello. We use the WebExtension API to inject javascript into pages, follow this guide: https://mozilla.github.io/geckoview/consumer/docs/web-extensions

[2020-05-16 16:56] #130 closed, assigned to nobody

[2020-05-16 16:58] agi90 commented on #130
There's a complete example here: https://searchfox.org/mozilla-central/search?q=&path=mobile%2Fandroid%2Fexamples%2Fmessaging_example

[2020-05-16 17:15] cromefire commented on #130
Okay thanks

[2020-05-22 14:15] Amejia481 opened #132 ""Usage Documentation" link in the home page returns 404"

[2020-05-23 23:22] agi90 commented on #132
Thanks, fixed.

[2020-05-23 23:22] #132 closed, assigned to nobody

[2020-05-24 01:28] agi90 opened #135 "Investigate if html redirects are enough"
https://github.com/mozilla/geckoview/pull/134 introduced html redirects to google-indexed pages that no longer exists. This is a temporary measure so that these pages don't 404. We should investigate if this is a good long term strategy or not (I.e. does google update their links to the new one? if yes this solution is probably ok, if not we should find something better).

[2020-05-25 12:16] xiaotianguys opened #136 "(andorid) geckoview use browser.runtime.connectNative("browser") is work when launch app, but it is not work when click to use port.postMessage（port undefine）"
### test.html
[code]

### api.js
[code]
#### Result Log:
[code]
#### Reference ：

[2020-05-26 05:49] xiaotianguys commented on #136
@Amejia481

[2020-05-26 05:55] xiaotianguys commented on #136
Any good suggestions? and the error log when invoke postMessage method :
[code]
but i do port like this in api.js :
[code]

[2020-05-26 13:28] Amejia481 commented on #136
it looks like you are not able to access `browser.runtime.connectNative("browser")` could you please post your `manifest.json` or is there any place where you have you code hosted? Or a host a minimal example app?

[2020-05-26 13:30] Amejia481 commented on #136
I also helped with this [sample web extension app]( https://github.com/ankitrawat46/GeckoJavascript), it could help you to see a full example and maybe spot a possible issue

[2020-05-26 14:53] agi90 commented on #136
@xiaotianguys how are you loading `text.html` in the app? can you show us some of the java code?

[2020-05-27 01:48] xiaotianguys commented on #136
3Q for you response @agi90 yes, i do like this:

### MainActivity.java Code
[code]

[2020-05-27 02:41] xiaotianguys commented on #136
3Q for you response  @Amejia481 ;
i have try as say like https://github.com/ankitrawat46/GeckoJavascript  to test;
use _`browser.runtime.sendNativeMessage(message)`_ instead of _`port.postMessage(message)`_ in _`function sendMessageToNativeApplication(message)`_ ;
the final result is the same **（send or receiver message success when launch app, but it is stuck when trigger _function sendMessageToN

[2020-05-27 02:52] xiaotianguys commented on #136
https://github.com/ankitrawat46/GeckoJavascript is work fine in my demo
[code]
what can i do for use **port.postMessage()** in other js file @Amejia481

[2020-05-27 23:44] agi90 commented on #136
@xiaotianguys ok I see the problem, you can only use extensions APIs like `browser.runtime.sendNativeMessage` in an extension page, so what you want is to call `loadUri` with the extension URL, like so:

[code]

[2020-05-28 01:33] Amejia481 commented on #136
I agree with @agi90. Something that can help to have a complete picture of what is happening is to use  [Remote debugging](https://developer.mozilla.org/en-US/docs/Tools/about:debugging). It gives you access to all the dev tool that Firefox has, this way you can debug the website and the extension code end to end. To activate it you just have to use `runtime.getSettings().setRemoteDebuggingEnabled

[2020-05-28 06:56] xiaotianguys commented on #136
I do't understand what's different```session.loadUri("resource://android/assets/bundle/html/test.html");
``` between ``` session.loadUri(extension.metaData.baseUrl + "html/test.html"); ```
or how to convert **resource://android/assets/bundle/html/test.htm** to **extension.metaData.baseUrl + "html/test.html"**  @agi90

[2020-05-28 08:15] carendule opened #137 "How i can get rid of the process based lifecycle"
I am building an app that are going to use geckosession in a service, but i found that the Gecko
lifecycle always follow the application, which means When the service is running in the background with the app closed,it will be released.

[2020-05-28 08:39] #137 closed, assigned to nobody

[2020-05-28 11:31] xiaotianguys commented on #136
@Amejia481 use firefox debug as picture:
![WeChata60d0adde0a65d3482fa94b62d1310ec](https://user-images.githubusercontent.com/28803138/83132765-75715180-a114-11ea-8f44-0819f08b4a99.png)
and i find the same question issue https://bugzilla.mozilla.org/show_bug.cgi?id=1600981 （I do't find how did you solve it）

[2020-05-28 12:03] xiaotianguys commented on #136
[code]
 ### error code :
// Establish connection with app
const port = browser.runtime.connectNative("browser");

[2020-05-29 03:16] xiaotianguys commented on #136
No offense; @Amejia481 you sure is work fine ? https://github.com/ankitrawat46/GeckoJavascript ; I am clone and run project ,  app crash;
so I made the following modifications ：
``` session.loadUri("https://www.lejuhub.com")```
**the result as picture:**
![WeChatc5cf1b5483175dcaf2f8be9087f26524](https://user-images.githubusercontent.com/28803138/83217016-2e7b6e80-a19d-11ea-8b64-736dc168a52f.png)

[2020-05-29 10:50] carendule opened #138 "How i can run Gecko without bind to Main Process"
In fact, I am running GeckoSession in a background service and providing it with a surface for rendering in the service. But when the Application exits, gecko will follow the exit. How can I make it keep rendering in the service

[2020-05-29 13:20] Amejia481 commented on #136
No problem :)
It's weird it was working for https://en.m.wikipedia.org/wiki/JavaScript, I will take a look later in the day!

[2020-05-29 14:04] snorp commented on #138
You'll need to do something to keep the background Service alive. Some information about this can be found in the Android docs here: https://developer.android.com/about/versions/oreo/background

[2020-05-29 14:04] #138 closed, assigned to nobody

[2020-06-03 01:48] xiaotianguys commented on #136
@Amejia481 how's the progress ,  Any information update ?

[2020-06-04 03:52] Amejia481 commented on #136
@xiaotianguys sorry for the delay, the initial example was based on an old version of geckoview which API was deprecated. I cloned and updated the previous example using the new extension api. Hope it helps.

I added two version:

1. Communication from the [ext -> the app](https://github.com/Amejia481/GeckoJavascript/tree/fba2fe07fdff2dd2311bc515cd148e52b31f07e0/app). It's based on [this example](

[2020-06-04 08:03] xiaotianguys commented on #136
3Q @Amejia481 ; https://github.com/mozilla/geckoview/issues/136#issuecomment-638586423 is same as official document description ；My problem is that it is stuck when use **port.postMessage** in js function, not demo can't work ;(like i said before my demo is work fine) so i can not send message when invoke button by myself

[2020-06-04 14:13] Amejia481 commented on #136
As @agi90 mentioned on https://github.com/mozilla/geckoview/issues/136#issuecomment-635002173, this API do not exists on a normal website context, to use the web extension APIs you need to be in web extension context.

For this reason, he suggested to load the page using the web extension context:

**Extension context** -> `extension.metaData.baseUrl` equals to `moz-extension://12399f9f-dc0b-41b4-

[2020-06-05 07:31] xiaotianguys commented on #136
it's a pity that can not work too; @Amejia481 can you show me a demo?(about use **port.postMessage** send message when invoke button by ourself) looking forward to your update

[2020-06-05 07:36] xiaotianguys commented on #136
https://github.com/mozilla/geckoview/issues/136#issuecomment-638586423 it is work fine , and i have done ; but i do't know how to use **port.postMessage** , as like click the Button and send message @Amejia481

[2020-06-05 13:24] Amejia481 commented on #136
To help you better could you tell us which is the end goal or use case that you are trying to achieve? This way we can steer you up through all the possible options.

If you prefer you can also could chat with the whole team using Matrix: [gv-webext:mozilla.org](https://chat.mozilla.org/#/room/#gv-webext:mozilla.org) chat room ([How to connect](https://wiki.mozilla.org/Matrix#Connect_to_Matrix)),

[2020-06-12 00:03] Neustradamus commented on #90
@agi90: Any news?

There is a solution?

[2020-06-12 12:31] fluffyemily commented on #90
As you can see from the commentary in [Bug 1513574](https://bugzilla.mozilla.org/show_bug.cgi?id=1513574), support for this pref was dropped in both desktop and mobile Firefox in favour of WebExtension support for user agent switching. We are not planning to reinstate that functionality as a pref inside GeckoView.

[2020-06-12 12:34] filips123 commented on #90
What is the solution then? Firefox Preview does not yet support any user agent switching extensions.

[2020-06-13 19:15] CactiChameleon9 opened #139 "Getting Started with GeckoView not sufficient for android 4.4 or below"
After following the (slightly unclear, the article listed was a big help) documentation I managed to get a simple GeckoView app, yet it crashed on android 4.4. After a while looking online I found this, with a workaround or solution:
https://bugzilla.mozilla.org/show_bug.cgi?id=1567115

The bug should be mentioned in the getting started, if 4.3 and 4.4 is going to be supported in said persons app,

[2020-06-17 10:03] carendule opened #140 "Is all prefs can be changed with yaml config file?"
I'm trying to change the privacy config to prevent CORS not http error.I made a config.yaml with
`prefs:privacy.file_unique_origin: false`.
I found the GeckoDebugConfig:Adding prefs from debug config in logcat,but i still got CORS error,the param in about:config shows it setted correctly,the html had tested in firefox with this config false.
Other configs like `layout.css.devPixelsPerPx` works fin

[2020-06-18 02:32] #140 closed, assigned to nobody

[2020-06-24 11:06] wsrfzd opened #141 "How to simplify GeckoView?"
Hi Team,

After my application used GeckoView, the package size became very large. How to simplify it?

Thanks

[2020-07-06 09:44] tomjuggler opened #142 "Open In New Tab buttons fail to do anything"
On the whole GeckoView is superior to WebView as far as I have compared the two, however I have the problem stated above.
Some buttons on a Wordpress site I am trying to embed in the app are set to open in new tab. This then leads to the button press having no effect in GeckoView.

Am I missing something here? WebView overrides the "New Tab" behaviour by default. Is there some way to get this func

[2020-07-06 12:44] eamsen commented on #142
You need to implement `onNewSession` on the `NavigationDelegate` to handle "new tab" behavior.
See https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/GeckoSession.NavigationDelegate.html.

[2020-07-06 12:48] tomjuggler commented on #142
Thanks very much, I'm having a look now. I have a feeling GeckoView is going to come in handy in all sorts of ways in future!

[2020-07-11 15:13] sam-deepweb opened #143 "Extension : browser.webRequest is undefined"
I'm using `webRequest` in my extension but I got this error when I run it in the GeckoView :

![Untitled](https://user-images.githubusercontent.com/29620292/87227124-04c58200-c3ae-11ea-9330-d916d5bf2f92.png)

I don't know why javascript engine doesn't know the `webRequest` module in GeckoView while there is no problem in Firefox desktop ?

As of this page
https://developer.mozilla.org/en-US/docs/M

[2020-08-14 11:42] pokevas opened #145 "GeckoView onBeforeSendHeaders bug"
Application on the GeckoView engine to which webextension is connected
Based on: https://searchfox.org/mozilla-central/source/mobile/android/examples/port_messaging_example/app
The extension is connected correctly, it loads and works.
The application itself implements work with headers when sending and receiving requests (onBeforeSendHeaders and onHeadersReceived).
Tried substituting UserAgent whe

[2020-08-24 16:13] VonLisboa commented on #119
I have this problem, got a solution for that?

[2020-08-27 04:04] piaomiao8179 opened #146 "I want to ignore TLS or SSL certifacate, shall i do to resolve it ?"
I want to ignore all of ssl certifacate, What should I do?

[2020-08-28 08:05] xucodeboy opened #147 "How to open geckoview with Android studio"
Why can't I open the Android studio to ask for help

[2020-08-28 10:08] a251115100 commented on #115
If there's a demo for a feature-prompt, I look at the library but I don't know how to use it. I can't even create a PromptFeature object.. Readme.md doesn't seem to be up to date

[2020-09-22 06:54] widevel commented on #116
Still not working in 80.0.20200903001900 stable version

[2020-10-06 13:51] s-ankur commented on #116
I am also having the same issue

[2020-10-23 05:59] a251115100 opened #148 "the page crashed using Autofill GeckoView(org.mozilla.geckoview:geckoview:80.0.20200903001900)"
E/AndroidRuntime( 6225): java.lang.ClassCastException: org.mozilla.gecko.util.GeckoBundle cannot be cast to java.lang.String
E/AndroidRuntime( 6225): 	at org.mozilla.gecko.util.GeckoBundle.getString(GeckoBundle.java:343)
E/AndroidRuntime( 6225): 	at org.mozilla.gecko.util.GeckoBundle.getString(GeckoBundle.java:354)
E/AndroidRuntime( 6225): 	at org.mozilla.geckoview.Autofill$Node$Builder.<init>(Aut

[2020-11-02 23:47] eamsen commented on #148
This is fixed in GV 84 and pending approval for 83.
See https://bugzilla.mozilla.org/show_bug.cgi?id=1671137.

[2020-11-02 23:47] #148 closed, assigned to nobody

[2020-11-11 11:26] bapidas1 commented on #116
@snorp This issue is still there. It's not fixed yet.

[2020-11-13 04:34] coxato commented on #143
@sam-deepweb  same problem, I use this example https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Intercept_HTTP_requests

and is not working, if I write `console.log(browser.webRequest)` is undefined. did you solve this problem?

[2020-12-30 23:18] Mooeeezzzz opened #149 "Android tv support"

[2021-01-10 14:42] #149 closed, assigned to nobody

[2021-01-21 09:21] The-WindRises opened #150 "compileSdkVersion与targetSdkVersion高于28不能使用"
compileSdkVersion与targetSdkVersion高于28不能使用

[2021-01-22 18:15] himanshu007-creator commented on #7
i would like to work on this issue.

[2021-01-23 21:57] Tagabunt opened #151 "Gecko view alert and dropdown select promptDelegate"
Hi,

I want to make alert and dropdown select work in gecko view but I have no idea on how to implement it. I know i have to use promptDelegate but i'm confused on how to call it in my code. Can someone help me please ? My current code is :

@Override
protected void onCreate(Bundle savedInstanceState) {
    super.onCreate(savedInstanceState);
    getWindow().setFlags(WindowManager.LayoutParams.FLA

[2021-02-01 21:10] JustMeDaFaq opened #153 "White screen on Huawei phone"
Hey,

basically just following:
https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/geckoview-quick-start.html

Testing it on an emulator or an Samsung a21 works fine. On an Huawei P40 Lite tho only a white screen shows up. Can't find anything in the logs, uploaded a full log while starting it here tho:

https://file.io/Haa87XCImxhW

Thanks for any help :)

[2021-02-01 21:32] #153 closed, assigned to nobody

[2021-02-01 21:32] JustMeDaFaq commented on #153
Just used the latest night and it was fixed

[2021-02-08 18:36] dujianchi opened #154 "how to set up http/https proxy at android?"
how to set up http/https proxy at android?

[2021-02-08 19:21] dujianchi commented on #122
+1

[2021-02-08 19:44] dujianchi commented on #154
I'm using those code for set up proxy:
[code]
but https proxy certificate is not trusted, how to ignore it ? I got a blank screen now...

[2021-02-09 17:41] dujianchi commented on #154
try to set [network security configuration](https://developer.android.com/training/articles/security-config), still not working.... really need help 😭

[2021-02-09 17:50] agi commented on #154
Hi there! Unfortunately proxy configuration is not currently supported in GeckoView. You can track https://bugzilla.mozilla.org/show_bug.cgi?id=1525486 for that.

[2021-02-11 22:16] #154 closed, assigned to nobody

[2021-02-16 18:34] s-ilnar opened #155 "Android Api 19"
I am use
[code]

[code]

app crash, why?
log

[code]

[2021-02-19 11:56] schulzjona opened #156 "Setting to allow automatic media playback"
Hello, is there any way to change the configuration so that a video with the html tag "autoplay" can be played automatically when the page is loaded?

I have already tried a few things but nothing works.

I use geckoview for a kind of "kiosk" app and there I can't trust that there is always someone to click "play" when the content is updated.

Any ideas how I could solve this problem?

Thanks in a

[2021-02-21 05:55] ChiY119 opened #157 "Geckoview Cookie Problem"
My app is using Geckoview and Webview, together.
My app is trying to login to our website via API communication.
App login successfully to website on API communication and I saved the cookie info.
When I'm calling website domain in app's webview, saved Cookie was used.
So I can enter the website without any login process via app's webview by using API login .
But, When I'm calling this domain on G

[2021-02-21 14:03] HysonHou commented on #130
I read the example code and doc , geckoview no the api like Android evaluateJavascript() to call JS code.
Maybe you can add it on the next version.

[2021-02-21 14:14] cromefire commented on #130
As they describes above, the way they go about this (which I think is quite a nice design) is you create a web extension and then the page and the web extension can talk and the web extension and the app can talk via ipc.

This is a bit more work, but seems like a good architecture imo as the web extensions have quite a large and mature API at their disposal.

[2021-02-22 09:09] HysonHou commented on #130
yes , I need to do ipc. at the example backgroud.js no way push message to brower.window(html file) . do you have some good way ? I check document and think many times. but have not success.

[2021-02-26 17:30] #156 closed, assigned to nobody

[2021-03-01 18:45] kjkrum opened #158 "Document how to save/restore GeckoView state"
Saving and restoring `GeckoView` state does not follow Android conventions and seems to have changed several times. Documentation and discussions from as recently as 2018 seem to be outdated.

I suggest that the quick start tutorial should include a sample `Activity` demonstrating the correct lifecycle of the view, session, and runtime. The code below seems to work, but may represent an entirely i

[2021-03-02 06:23] HysonHou opened #159 "background.js How to dispatch message to html document or windows? can provide some example code?"
[question] How to inject javascript and interact with it? #130

[2021-03-05 00:51] antonymken commented on #119
probably try calling geckoRuntime.shutdown() to free up the resources. then create it again

[2021-03-06 23:20] HysonHou commented on #159
from 14 Aug 2020，the repository no reply for 7 months , it 's un maintrained?

[2021-03-08 13:53] fluffyemily commented on #159
I'm sorry, I think we just missed this one. You can find all the documentation about how to interact with javascript through Web Extensions on our documentation site: https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/web-extensions.html

[2021-03-09 07:19] HysonHou commented on #159
I have read it, it just support dispach message from Brower to Native，Native to Brower just adapt on background.js , but it not dispach to Brower inner DOM or Window . you have plan to support it ? I think it nessary for geckoview. maybe you can refer to Android WebView.

[2021-03-10 16:01] owlishDeveloper commented on #159
@Hynsn can you tell us more about what you're trying to do?

[2021-03-10 16:13] agi commented on #159
@Hynsn you can use `window.postMessage` and `window.addEventListener` to interact with a web page: https://stackoverflow.com/a/11431812/1020817

see also https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage

[2021-03-10 16:13] #159 closed, assigned to nobody

[2021-03-11 01:26] HysonHou commented on #159
I use html5 Worker obj to dispatch Message to Window , see :
[https://github.com/Hynsn/TestDemo/blob/master/app/src/main/assets/webmessage.html](https://github.com/Hynsn/TestDemo/blob/master/app/src/main/assets/webmessage.html)
I just hope same use-way like Android Webview . But it's different on the geckoview at background.js . I test background.js not allow get Window , so not finish message to

[2021-03-11 06:22] a251115100 commented on #159
https://github.com/a251115100/geckoview-jsdemo
this is a simple demo show js call native and native call js

[2021-03-11 16:14] owlishDeveloper commented on #159
@Hynsn for messaging from Android to js we have `MessageDelegate` class

[2021-03-16 15:27] asaf050 commented on #146
Same issue here,
currently geckoview shows blank page

[2021-04-06 15:11] aarain opened #160 "GeckoView Web Extension fails to connect to connect to Android application"
Moved issue to here:
https://github.com/mozilla-mobile/android-components/issues/10029

[2021-04-06 15:13] #160 closed, assigned to nobody

[2021-04-23 11:49] pichillilorenzo opened #161 "Add or change context menu items"
Posted a feature request to https://bugzilla.mozilla.org/show_bug.cgi?id=1707216

Steps to reproduce:

Using org.mozilla.geckoview.GeckoView, I tried to override the "onCreateContextMenu", "startActionMode(ActionMode.Callback callback)", "ActionMode startActionMode(ActionMode.Callback callback, int type)", and use "setOnCreateContextMenuListener" to be able to add, remove or change the Context Men

[2021-05-03 02:09] yookoala commented on #20
Is there any update for this one. I was following a Fenix bug that is blocked by GV's development. It was said that the fix was on the roadmap of GV in Q1. But I found no public roadmap outlining the ongoing process of GeckView development.

[2021-05-04 10:44] fluffyemily commented on #20
There are no current plans to prioritize this work for our documentation site. Which Fenix bug were you looking at?

You can take a look at our current release and development progress on our [issue wiki.](https://wiki.mozilla.org/Mobile/GeckoView/Bugs)

On this page you can see what issues we are [currently working on,](https://wiki.mozilla.org/Mobile/GeckoView/Bugs#Current_Release) and what issu

[2021-05-04 10:54] yookoala commented on #20
I'm tracking on mozilla-mobile/fenix#8642, which seems to be blocked some GV work in Q1 (as mentioned [here](https://github.com/mozilla-mobile/fenix/issues/8642#issuecomment-799728208) and [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1676216)). Anyway, I know you have many task at hand. I do not mean to be pushy, but I just want to know more about the progress (as a user).

[2021-05-04 11:36] fluffyemily commented on #20
Ok, thanks. I think that issue fell through the cracks when Eugen left the team. I've nominated it for inclusion in an upcoming release and we will take a look at it.

[2021-05-04 11:40] yookoala commented on #20
Thanks a lot.

[2021-05-21 07:41] HysonHou commented on #159
这个demo和官网的demo类似，我想知道如何将conten.js里面回调接受到的数据更新到具体的dom上面，比如刷到input内容

[2021-05-21 07:58] a251115100 commented on #159
你可以在conten.js里面使用window.eval("document.getElementById('name1').value='值'");eval方法能执行js代码

[2021-05-21 09:34] HysonHou commented on #159
soga，还有其他方法吗 这种方式感觉不是很好

[2021-06-06 06:34] flaviolenz opened #163 "Why is it so hard to post a full example of a WebPage talking to an AndroidApp?"
This is so poorly documented:
https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/web-extensions.html

The closest to a decent example I got was this one:
https://github.com/a251115100/geckoview-jsdemo
(But it lacks the webpage code)

**WebView is so simple to use JavascriptInterface.**

So, can anyone provide a simple straight forward example on how to do this:

x.html
(host

[2021-06-07 15:01] flaviolenz commented on #136
Is everybody struggling with the same thing ?

Could you, please, check issue #163

[2021-06-11 04:10] 1E0LEO opened #164 "GeckoView wrap_content issue"
In my project, I will use more than 1 GeckoViews to load html data inside. I add those GV into linear layout wrapped with Scroll view. I don't know html page length so I set all of the GeckoViews to wrap_content. The height of GV keep remain to 0dp after I complete set html data into it. How can I GV correct display height or get html content height and set to GV or any other way to fix it? Thanks

[2021-06-14 15:30] agi commented on #164
Hi @1E0LEO ! could you tell us more about your project? In general we don't support sizing GV based on the web content page size.

[2021-06-15 02:44] 1E0LEO commented on #164
@agi Those content inside GV is return from API with HTML format. After I set HTML into those 2 GVs. The height will keep remain unchange (0dp), nothing show in the screen until I hardcode the height of GV. But it is not possible for production.

[2021-07-07 17:00] daarong commented on #116
Still an issue on 90.0.20210705185941
Gradle Plugin 4.2.2, gradle version 6.7.1

The suggestion here did it for me -- https://bugzilla.mozilla.org/show_bug.cgi?id=1571175

Add this to gradle.properties
android.bundle.enableUncompressedNativeLibs=false

-----------------------------------------------------------------------------------------------

Very confusing for me because this error does NOT

[2021-08-04 05:47] arvindkumar98 opened #166 "APK size issue"
I have implemented geckoview in my android application and it  fulfilled my browser requirement that i wanted to get but it raised apk size from 50MB to 283MB. It's thing of concerned for me that how will i upload my app on play store. Please  help me to resolve this issue.

[2021-08-04 15:56] agi commented on #166
Hi there! GeckoView contains binaries for all four architectures (x86, x86_64, arm, aarch64). For a one architecture APK GeckoView should add about ~50MB to the APK size. The Play Store should be able to understand this without any intervention from you. Please reopen if you have further issues.

[2021-08-04 15:56] #166 closed, assigned to nobody

[2021-08-09 02:19] Glazami opened #167 "GeckoView instead of Android System WebView"
How to use geckoview instead of android system webview? Not having superuser rights?
I need this.

The system webview does not work for me, I have been trying to fix it for several years, but no webview mods help, it does not want to work, I changed a lot of firmware, I hate chrome, I love mozilla.
Is there somewhere an instruction on how to use geckoview instead of system webview, without superus

[2021-08-09 02:20] Glazami commented on #167
Maybe there is some kind of apk file that allows you to install it and select it in android as a standard webview?

[2021-08-19 15:36] Xanaxus commented on #167
I have been surfing the net for this but I haven't found it I guess we will need to build one up

[2021-08-19 15:42] agi commented on #167
Hi there, are you trying to use GeckoView in your own app or do you mean using GeckoView instead of the WebView in third party apps like Facebook, Instagram etc?

[2021-08-19 15:43] agi commented on #167
Google does not allow a third party to implement the System WebView and the GeckoView API is not compatible with the WebView API in a very meaningful way unfortunately, so this is not possible.

[2021-08-19 16:14] Glazami commented on #167
It's about using GeckoView Instead of webview

[2021-08-19 16:17] Glazami commented on #167
There are many custom firmwares that do not have google services at all.
There are also smartphones that are from the manufacturer's factory without google services.
It turns out that if google does not take part in solving the problem with a non-working webview, there will be no way to replace it with a normal engine?

[2021-08-19 16:19] Glazami commented on #167
Hopefully someone will have the strength to do this, it will solve a number of problems.  🤞

[2021-08-26 14:39] connected-whunt commented on #116
Still an issue

[2021-08-29 08:12] ghost opened #168 "How can i use canGoBack() on GeckoView"
Below is the code for android Webview

[code]
How can i use similar code in Geckoview or how can i achieve similar process on Geckoview?

[2021-09-13 08:40] JojoStacy opened #169 "No camera on Samsung Galaxy Phone Note 11"
I am using gecko view for a video application. I am not able to get the camera devices while it works ok on google chrome.Kindly suggest a solution for me

[2021-09-22 11:27] vengateshvengi03 opened #170 "SD Video is playing on top left corner in geckoview 94"
I am using geckoview 94 for Android TV.SD video are playing on top-left corner ,all other area in video is black screen.But HD video playing on full screen.How to resolve i
![IMG_20210922_140119_1](https://user-images.githubusercontent.com/86402644/134335561-b0176e75-35bc-4233-8c11-a0691c73d236.jpg)
t?

[2021-09-26 22:04] lukewarlow opened #171 "No UI for a datalist element's options."
Firefox Android is afaik the only modern browser without full support for the datalist element. It would seem it lost this functionality in Firefox Android 79.

Bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1535985 (afaik Bugzilla is no longer used for tracking Geckoview bugs?)

[2021-09-27 15:17] agi commented on #169
Hi @JojoStacy could you provide an example app that reproduces the problem?

[2021-09-27 15:21] agi commented on #171
Hi @lukewarlow, we still use bugzilla for GeckoView (this is just for the documentation side). Thanks for bringing this to our attention, we can continue the conversation on bugzilla, I'll close this in the meantime.

[2021-09-27 15:21] #171 closed, assigned to nobody

[2021-09-27 15:33] agi commented on #170
Hi @vengateshvengi03 , this repository is for GeckoView documentation, I see that you opened a bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1731980 so I'm gonna close this one.

[2021-09-27 15:33] #170 closed, assigned to nobody

[2021-09-29 10:26] JojoStacy commented on #169
Hi kindly try it on https://v3demo.mediasoup.org

[2021-10-13 07:38] yschimke opened #173 "GeckoView on Android Wear"
Blank activity sample app, followed https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/geckoview-quick-start.html

[code]

[2021-10-13 07:40] yschimke commented on #173
Launches with android:extractNativeLibs="true"

[2021-10-13 07:51] #173 closed, assigned to nobody

[2021-10-13 07:51] yschimke commented on #173
Getting blank view, but not sure why.

[2021-10-13 08:14] yschimke commented on #173
Works with 93.0.20210927210923 stable, the example in the docs is a night version 70.

[2021-10-13 08:15] yschimke opened #174 "Update example version in the docs"
https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/geckoview-quick-start.html

instead of old nightly, using stable 93.0.20210927210923 would be a better idea.

[2021-10-26 14:22] iMJ007 commented on #168
You need to set a navigation delegate on the gecko session and use a global boolean to keep track of whether it can go back or not.

[code]

Then use the `canGoback` variable in your `onBackPressed()` method

[2021-11-16 01:08] oh-dheeraj-haritheesan opened #175 "Is it possible to open a local html file using GeckoView?"
Are there any permissions that need to be set for it to have access to the file? Simply calling loadUri("file:///<path>") is throwing a "read permission denied" error.

[2021-11-16 15:51] agi commented on #175
Yes, you need `READ_EXTERNAL_STORAGE`: https://developer.android.com/training/data-storage

[2021-11-16 15:51] #175 closed, assigned to nobody

[2021-11-19 21:15] J0R0W opened #176 "Installing Extensions in geckoview"
I want to install a Firefox extension in a GeckoView
I tried the instruction from the docu (<https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/web-extensions.html>).<br>
My code:

    val runtime = GeckoRuntime.create(this)
    geckoSession.open(runtime)
    geckoView.setSession(geckoSession)
    runtime.getWebExtensionController().installBuiltIn("resource://android/assets/

[2021-11-21 02:02] AllanWang commented on #176
Missing import? Though if you can resolve `WebExtensionController` that's weird.

Tested on beta `95.0.202111181857001` and I see both `installBuiltIn(String)` and `ensureBuiltIn(String, String)`

[2021-11-22 16:37] agi commented on #176
What version of GeckoView are you on? `installBuiltIn` was introduced in 78: https://mozilla.github.io/geckoview/javadoc/mozilla-central/org/mozilla/geckoview/doc-files/CHANGELOG#v78

[2021-12-27 07:03] KnIfER opened #177 "How to get old sources"
`geckoview-87.0.20210318103112-sources.jar` doesn't contain AIDL sources

[2021-12-27 07:14] #177 closed, assigned to nobody

[2021-12-31 23:01] pabiagioli commented on #163
Are there any updates on this? I'm very interested in getting a fully functional communication between GeckoEngineView and an Android Activity/Fragment

[2022-01-05 09:34] jackxuechen opened #178 "how to Render Native View in between HTML tags on GeckoView"
how to Render Native View in between HTML tags on GeckoView

[2022-01-07 00:42] tomassilny commented on #155
Hi,
I have the same problem. How did you solve this please?

[2022-01-21 04:52] rakeshid03 opened #180 "Test"

[2022-01-25 06:39] #180 closed, assigned to nobody

[2022-02-07 12:36] paolo-caroni commented on #167
Geckoview cannot be compatible with system web view on android.
This issue don't depend on geckoview, but on android.
Implement any different webview version need signature spoofing or superuser rights on 99% of cases.
If you are lucky you can use other implementation (for example Bromite WebView) as a user app, but ONLY if the vendor don't have specified the signature of original android WebView

[2022-02-21 12:30] targetjumpdevs opened #181 "Block images from particular domain in GeckoView android"
How can i block image loading from specific domain in [GeckoView](https://mozilla.github.io/geckoview/)? I tried searching equitant method like setLoadsImagesAutomatically from webview in GeckoView but no luck. I found few links like [this](https://github.com/ckuhl/ImageBlockX) and [this](https://github.com/codingotaku/Kurumi-Everywhere). Can we block image loading by injecting javaScript in Gecko

[2022-05-02 07:58] fulus06 commented on #178
mark

[2022-05-09 08:52] asaf050 opened #184 "Allow negative numbers in number input"
Currently, the minus sign is missing on the keyboard.
How can we allow the minus (-) sign in HTML number inputs?

[2022-06-03 13:21] sgebr01 opened #186 "Having issues with install"
I am trying to load an extension to inject javascript in my app, so I read in one of the issues that I will need to install at least version 78. However, whenever I install one of the versions, it ends up not working. I am only able to import up to org.mozilla.geckoview, but none of the components are there once I reach there. This is on Beta 102. I would like to try and do stable, but I am not su

[2022-06-04 13:22] #186 closed, assigned to nobody

[2022-06-08 07:10] ghost opened #187 "How can i setup Notification Bar Music Control widget in Geckoview Android"
How can I setup music player control widget in notification bar on Geckoview Android.

It is possible on chrome browser through Media Session Api

Below is the image from chrome browser android.

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/o086Q.png

**How can I achieve similar music control widget on Geckoview**

[2022-06-08 18:09] atomicalsoftwares commented on #142
Were you ever able to implement this?

I can't find any documentation on how to handle a popup/new session anywhere and I keep getting errors that the session is still open. There's no concrete wiki.

[2022-06-08 18:43] tomjuggler commented on #142
No I ended up using WebView - mainly due to more example code being available.

[2022-06-08 18:47] atomicalsoftwares commented on #142
Thanks for the prompt reply!

I guess I'm stucked.

I'm using a .js library that on webview gives me errors loading it's resources but on geckoview it doesn't (webview limitations?).

On geckoview works but the script itself opens a new window and I can't seem to find how to handle that.
The device is kinda locked and doesn't have a built in browser so opening a custom tab isn't possible.

Writtin

[2022-06-11 13:32] flashjames commented on #163
There's two examples how to make this work here: https://searchfox.org/mozilla-central/source/mobile/android/examples

[2022-06-13 06:11] k3n01 commented on #167
It's currently possible to select (Chromium-based) WebView via Developer Settings. There is also a setting that goes like this:
`settings put global webview_provider "org.bromite.webview"`

To some extent, the impossibility to hook up Gecko as WebView is exaggerated. There are API issues, but if compatibility layer with Chromium would be implemented it'd also allow easier migration for devs to Gec

[2022-07-06 18:46] romariozz opened #188 "How to enlarge rendering in GeckoView?"
Hello! I trying to migrate from WebView to GeckoView 90.0 .

I have a site displayed in WebView by default  in normal size like in a picture
![webview](https://user-images.githubusercontent.com/103540651/177621065-1dfc0b1d-b6ed-4261-8e2e-d486bb267b08.jpg)

But in GeckoView content looks too small.
![geckoview](https://user-images.githubusercontent.com/103540651/177621103-7d032e69-9e8f-42a9-a46d-81

[2022-07-08 09:24] Anatame opened #189 "Enable DNS-Over-HTTPS (DOH) support?"
Is there a way to enable dns-over-https support in GV? I want all my network requests to use cloudflare dns resolver.

[2022-07-21 09:06] paolo-caroni commented on #167
I've tried multiple times to set bromite webview on LineageOS via Develomper Settings or via command line without luky.

It's currently possible to select (Chromium-based) WebView via Developer Settings, but any app that use a webview without the "correct" signature will crash.
As previously specified, implement any different webview version need signature spoofing or superuser rights on 99% of ca

[2022-07-21 18:39] Glazami commented on #167
I installed bromite via twrp
But in my case there was no difference.

[2022-07-29 18:18] matthew-unum opened #191 "WebAuthn"
Is there a way to have GeckoView work with https://webauthn.io/? I have tried to implement it myself as well as look for examples, but I have not found a way to make this work.

[2022-08-03 15:33] hockeymikey commented on #167
I think adding the ability to be used as a system WebView makes sense. It allows for an alternative to be used to Chromium based ones, and gives more exposure to the project too which would increase usage. People are already switching out their Webviews using say Android Webview Manager and I'm sure they would include this. Custom roms would add support (I would in mine too) or just straight up us

[2022-08-16 21:27] jonalmeida commented on #191
@matthew-unum yes, it is possible, but know that right now GeckoView is using the [Fido2PrivilegedApiClient](https://developers.google.com/android/reference/com/google/android/gms/fido/fido2/Fido2PrivilegedApiClient) and requires any app's signing key to be put on an allowlist to use those APIs.

If they're not there the fallback method is to use the [Fido2ApiClient](https://developers.google.com/

[2022-08-16 21:31] jonalmeida commented on #181
@targetjumpdevs you can do this via the WebExt API. There is a short guide [here](https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/web-extensions.html) how to work with that API.

You can install those extensions you linked with the WebExt API.

[2022-08-17 08:37] bopeng87 commented on #146
I need this feature

[2022-08-18 04:59] asaf050 commented on #146
We ended up implementing an SSL error page, which allows the user to skip the validation.
Check out the error_page_js.html in this repo
https://github.com/mozilla-mobile/android-components

[2022-08-18 16:05] olehshyker commented on #145
@pokevas Hi, I've faced the same issue in 2022, maybe you have resolved it already? Could you please suggest the way to resolve?

[2022-08-25 11:20] alexgahide opened #192 "Geckoview crashes playing video"
Hello,
trying to build an app release with debuggable=false and minifyEnabled=true, geckoview crashes when playing a video, with one of the following (random) traces :

A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 10505 (launcher), pid 10459 (AndroidUI)
W/SurfaceAllocator: Failed to connect to RemoteSurfaceAllocator
    android.os.DeadObjectException
        at android.os.Binde

[2022-09-20 16:19] sanketshevare commented on #184
<input type="number" ></input>
You can just use input type as number and navigate to negative number through input arrow.
![Screenshot from 2022-09-20 21-46-52](https://user-images.githubusercontent.com/69853783/191311343-cf181d10-97f8-4c6a-a6cd-994cb7230948.png)

[2022-10-20 02:00] a251115100 commented on #163
in this demo https://github.com/a251115100/geckoview-jsdemo
You can send messages use methond (window.JSBridge.postMessage('from web html')) to the app from the web side

[2022-11-03 23:03] romariozz opened #194 "Android soft-input does not disappear when clicking IME_ACTION_DONE"
Hello,
I use org.mozilla.geckoview:geckoview:90.0.20210721174149.
After filling any text field on web page and clicking IME_ACTION_DONE on soft input it stays active.
But for my app its wrong behavior.
How to auto hide soft input after user clicks IME_ACTION_DONE  button in it?

[2022-11-07 18:31] romariozz commented on #188
Solved by adding meta tag to web pages:
`<meta name="viewport" content="width=device-width, initial-scale=1.0">`

[2022-11-07 18:31] #188 closed, assigned to nobody

[2022-11-26 23:50] MohRaouf commented on #125
any news ?